.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App, .login, .register, .homepage {
  text-align: center;
}

.register, .login, .homepage {
  margin-top: 50px;
  font-size: 20px;
}

.newTaskCard input {
  margin: 10px;
}

.newTaskCard {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.addlist {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.status {
  margin-bottom: 20px;
}

.dashboardtitle, .newcardform, .maincard  {
  display: flex;
  justify-content: center;
}

.active {
  border-bottom: 1px solid lightgray;
}

.hometext a, .usercard a {
  text-decoration: none;
  color: #4051B6;
}

.usercard p {
  margin-top: 30px;
}

.register input, .login input {
  font-size: 20px;
  width: 350px;
  margin: 10px;
}

.login, .register, .homepage {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-height: 700px;
  padding: 50px;
  width: 960px;
  display: flex;
  justify-content: center;
}

.register button, .login button {
  margin-top: 30px;
  height: 40px;
  width: 100px;
}

.navlinks a {
  color: white;
  margin: 30px;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  max-height: 500px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.checkTask {
  margin-top: 10px;
}

.card .dashcard {
  padding-bottom: 20px;
  padding-top: 10px;
}

.delete {
  position: relative;
  top: -10px;
  right: 150px;
}

.complete {
  position: relative;
  top: -10px;
  right: -150px;
}

.allcards {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 10px;
}

.update, .add {
  margin: 5px;
  padding: 10px;
}

.list {
  margin-top: 10px;
}

.newcardform input {
  font-size: 18px;
}

.App-header {
  background-color: #1073ac;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  color: white;
  box-shadow: 0 3px 6px 1px rgba(80, 78, 80, 1.8);
  transition: 0.3s;
}

.App-link {
  color: #61dafb;
}

.status {
  margin-top: 15px;
}

@media (max-width: 500px) {
  .App-header {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;
    height: 85px;
    font-size: 18px;
  }

  .login, .register, .homepage {
    width: 75%;
    padding: 30px;
  }

  .register input, .login input {
    width: 100%;
    margin: 5px;
  }

}


