.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login, .register, .homepage {
  text-align: center;
}

.register, .login {
  margin-top: 50px;
}

.register input, .login input {
  font-size: 20px;
  width: 250px;
  margin: 10px;
}

.register button, .login button {
  margin-top: 30px;
  height: 40px;
  width: 100px;
}

.navlinks {
  display: flex;
  justify-content: space-evenly;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
